$primary-font:"Nova Slim", system-ui;
$secondary-font:"Roboto", sans-serif;

$body-color:black;
$spotify-color: #1cdf63;
$color: #121212;
$card-backgraund: #242424;
$card-hover: #282828;
$text: rgb(255,255,255,0.7);
$radius: 10px;
$transition: .3s ease-in-out;
